<ul class="nav justify-content-center">
  <% if (currentUser) { %>
    <li>Hi, <%=currentUser.username%>!</li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/posts/new">New Post</a>
    </li>
    <form action="/sessions?_method=DELETE" method="POST">
      <input type="submit" value="Log Out" class="btn-small red">
    </form>
  <% } else { %>
    <li class="nav-item">
      <a class="nav-link" href="/users/new">Sign Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/sessions/new">Log in</a>
    </li>
  <% } %>
</ul>
