<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <h1>Welcome to Chatter</h1>
    <h3>Get started</h3>
    <a class="landing-link" href="/users/new">
      <div id="sign-up">
        <h4>Need an account?</h4>
        <h6>Sign Up</h6>
      </div>
    </a>
    <a class="landing-link" href="/sessions/new">
      <div id="log-in">
        <h4>Already have an account?</h4>
        <h6>Log in</h6>
      </div>
    </a>
  </body>
</html>
