<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <form class="new-form" action="/" method="POST">
      <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" id="exampleFormControlInput1"></div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">What's on your mind?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <button type="submit" value="submit" class="btn btn-outline-primary">Post</button>
      </div>
    </form>
  </body>
</html>
